/* RESET CSS */
html {
  box-sizing: border-box;
}
*,*:before,*:after {
  box-sizing: inherit;
}

html,body,div,section,footer,header,h1,h2,h3,p,ul,li {
  margin: 0;
  padding: 0;
}
body {
  font-family: Raleway,"Lato",Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#fff;
  background: linear-gradient(35deg, #ffcccc,#ccccff);
}
p {
  font-family:Lato;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  flex-direction: row;
}
.p {
  padding: 10px;
}
.main-survey {
  width: 80%;
  position: relative;
  background-color: #fff;
  box-shadow: 3px 5px 0px #eee, 5px 10px 0px #ddd;
  color: #000;
}
[type="text"],
[type="number"],
[type="email"],
[type="radio"],
select {
  padding: 5px 10px;
  margin-left: 10px;
}
.radio, .checkbox {
  left: -43px;
  display: block;
  padding-bottom: 10px;
}
.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}
#survey-form {
  width: 60vw;
  position: relative;
  /* border: 1px solid #000; */
}
.label {
  display: inline-block;
  width: 55%;
  text-align: right;
}
.pi {
  margin-right: 1em;
  width: 20%;
}
.inp {
  display: inline-block;
  width: 44%;
}
input,option {
  width: 100%;
}
#submit {
  width: 50%;
  padding: 10px;
  background: linear-gradient(35deg, #ffcccc,#ccccff);
  border: none;
  margin: 10px;
}
textarea {
  width: 50%;
  margin: auto;
}
option {
  text-transform: uppercase;
}
