main {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    padding: 1rem;
    background: url('/img/tech.jpg') no-repeat center;
    background-size: cover;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b {
    border:1px dotted #000;
}

.container {
    padding: 10px;
}

#landing_button {
    background: transparent;
    color: #eee;
    margin-top: 3rem;
    border: 1px solid #eee;
    min-width: 200px;
    border-radius: 10px;
    width: 340px;
}