main {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    padding: 1rem;
    background: url('/img/tech.jpg') no-repeat center;
    background-size: cover;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b {
    border:1px dotted #000;
}

.container {
    padding: 10px;
}

#landing_button {
    background: transparent;
    color: #eee;
    margin-top: 3rem;
    border: 1px solid #eee;
    min-width: 200px;
    border-radius: 10px;
    width: 340px;
}

#block {
    width: 40%;
    max-width: 340px;
}

/* responsive works */
@media only screen and ( min-width:360px) and (max-width:720px) {
    h1 {
        font-size: 4rem;
    }

    main {
        max-width: 100% !important;
        max-height: 100% !important;
    }

    #landing_button {
        max-width: 260px;
    }
}

@media only screen and (max-width:320px) {
    h1 {
        font-size: 1rem;
    }
    #landing_button {
        max-width: 150px;
    }
}