h1 {
  margin: 0;
  padding: 0;
}
main {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3282b8;
  margin: 3rem auto;
  /* border: 1px solid #1b262c; */
  ;
  height: 80vh;
}

.todoContainer {
  color:#1b262c;
}