h1 {
  margin: 0;
  padding: 0;
}
main {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  background: #f9fcfb;
  box-shadow: 0px 0px 20px 0px #93a9b5;
  height: 80vh;
  padding: 1rem;
}

#todoContainer {
  color:#1b262c;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
}
.b {
    border: 1px solid #000;
}

.itemContainer {
  width: 50%;
  padding: 10px;
  min-width: 200px;
  display: flex;
  margin: 0 auto;
}

#date {
  opacity: 0.8;
  font-size: 3rem;
  display: inline;
  font-weight: bold;
}
.item {
  padding:20px 0;
  display: flex;
  color: #1b262c;
}

.flexBig {
  flex:80%
}

.dismiss {
  border: none;
  background: #0f4c75;
  padding: 10px;
  border-radius: 5px;
  color: #eee;
}

.flexSmall {
  flex: 20%;
}